h1 = question.title
p = question.body
h3 =  'List of answers:'
= question.answers.count

- question.answers.each do |answer|
    p = answer.title
    p = answer.body


p = '--------------'
h3 = 'Add an answer:'
= render 'answers/form'